* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body {
  background: url('img/bg.png');
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:1rem;
  margin-top: 2rem;
  padding: 0 7rem;
}

.card{
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  color: white;
  line-height: 1.4;
  border: 1px solid rgba(255, 254, 254, 0.2);
  cursor: pointer;

}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(255, 254, 254, 0.2);
}
.card-container {
  padding: 2px 20px;
  width: 100%;
}
.card-container h4 {
  font-size: 1.6rem;
}
.card-section:not(:first-child) {
  margin:20px 0;
}
.status__icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

/* Character Page  */
.profile{
  display: flex;
  margin: 3rem auto 0;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid white;
  width: 50%;
  color: white;
  
}
.profile img {
  width: 250px;
  margin-right: 15px;
}
.profile-content{
  display: flex;
}
.profile-content h4{
  font-size: 2rem;
  margin-bottom: 5px;
}
.left{
  border-right: 1px solid white;
  padding-right: 15px;
}
.left span {
  font-weight: 300;
  font-style: italic;
}
.right {
  padding-left: 15px;
}
.right label {
  font-size: 1.2rem;
}
.profile-content hr{
  margin: 10px 0;
}

.profile-content ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.profile-content ul li{
  margin-top: 1rem;
}
.back-button {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.4rem;
}
.back-button a{
  color: white;
}
.back-button a:hover{
  color: rgb(185, 182, 182);
}
/* Character Page  */